body { font-family: Arial; background:#f2f2f2; display:flex; justify-content:center; padding-top:40px;}
.container { background:white; padding:20px; border-radius:12px; width:400px;}
button { margin:5px; padding:8px 12px; cursor:pointer;}
li { margin-top:8px;}
