body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background: white;
  padding: 25px;
  width: 360px;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.15);
}

form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 14px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

#clear-btn {
  margin-top: 15px;
  width: 100%;
  background: #ff4d4d;
  color: white;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
  padding: 10px;
  margin-top: 12px;
  border-radius: 10px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
