h1{
  text-align: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.gallery img{
  width: 400px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center; 
}

#lightbox-image {
  max-width: 80%;
  max-height: 80%;
  border: 3px solid white;
}

#close-btn {
  font-size: 40px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
