body { font-family: Arial; background:#f2f2f2; display:flex; justify-content:center; padding-top:40px;}
.container { width:400px; background:white; padding:20px; border-radius:12px; }
li { display:flex; justify-content:space-between; padding:10px; margin-top:10px; background:#fafafa; border-radius:8px;}
.completed { text-decoration:line-through; opacity:0.6;}
button { cursor:pointer; border:none; padding:6px 10px; border-radius:6px;}
