body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background: #f2f2f2;
}

.container {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.15);
}

#box {
  margin-top: 25px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 20px;
  background: lightgray;
  transition: 0.2s;
}

.active {
  background: lightgreen !important;
}
